* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 100%;
  max-width: 1440px;
  color: white;
  line-height: 2px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

header {
  width: 100%;
}

.py-2 {
  padding: 10px;
}

.grid {
  display: grid;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.top-nav {
  grid-template-columns: 3fr 2fr;
  align-items: center;
  background: #000000;
  height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-nav a {
  color: hsla(0,0%,100%,.6);
}

.top-nav a:hover {
  color: white;
}

.top-nav-left {
  justify-content: space-between;
  width: 60%;
}

.top-nav-right {
  justify-content: space-between;
  justify-self: flex-end;
  width: 40%;
  margin-right: 60px;
}

.bottom-nav {
  grid-template-columns: repeat(12, 1fr) ;
  align-items: center;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.bottom-nav a {
  color: #555;
}

.bottom-nav-left {
  justify-content: space-between;
  width: 60%;
  grid-column: 1 / span 11;
}

.bottom-nav-right {
  align-self: end;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}

.fa-search {
  border-left: 1px solid #ccc;
  height: 100%;
  padding-left: 40px;
  padding-top: 20px;
  color: #808080;
}

/* Showcase Section */
.showcase {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  height: 500px;
  padding: 0 10px;
  margin-bottom: 100px;
}

.right-showcase {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showcase-1 {
  background: url(../img/showcase-1.png) no-repeat center center/cover;
  flex-direction: column;
  opacity: 0.9;
}

.showcase-2 {
  flex-direction: column;
  height: 250px;
  background: url(../img/showcase-2.png) no-repeat center center/cover;
}

.showcase-3 {
  flex-direction: column;
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.showcase img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.top-text {
  justify-content: space-between;
}

.showcase-1 a {
  margin-top: 200px;
  z-index: 1;
}

body h5,
body h3 {
  margin: 10px 0;
}

.showcase-1 a h3 {
  font-size: 50px;
  font-weight: bolder;
}

.showcase-2 h3,
.showcase-3 h3 {
  font-size: 25px;
  font-weight: bold;
}

.showcase-2 h5,
.showcase-3 h5 {
  margin-top: 110px;
}

.margin-right {
  margin-right: 8px;
}

.margin-left {
  margin-left: 8px;
}

.author-time-share {
  width: 450px;
  justify-content: flex-start;
}

/* Latest News */
.latest-news {
  display: grid;
  grid-template-areas:
  'category-header . . .'
  'card-1 card-2 card-3 card-4'
  'card-5 card-6 card-7 card-8';
  padding: 0 10%;
  gap: 20px;
}

.latest-news img {
  width: 100%;
  margin-bottom: 10px;
}

.latest-news p {
  color: #555;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

.latest-news h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.category-header {
  grid-area: category-header;
  font-size: x-large;
  font-weight: bolder;
  align-items: center;
}

.latest-news .category-header {
  color: red;
}

.category-header img {
  width: 20px;
  height: 20px;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-6 {
  grid-area: card-6;
}

.card-7 {
  grid-area: card-7;
}

.card-8 {
  grid-area: card-8;
}

/* Funding Section */
.funding-section {
  padding: 0 10%;
  color: black;
  margin-top: 70px;
  position: relative;
  margin-bottom: 150px;
}

.funding-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.card-logo img {
  position: absolute;
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  margin-top: -40px;
}

.fa-chevron-right {
  font-size: 16px;
}

.funding-header-section a {
  color: #f42;
}

.funding-header-section a:hover {
  color: #000;
}

.fund-header {
  font-size: xx-large;
  font-weight: bolder;
}

.funding-cards {
  gap: 20px;
}

.fund-card {
  width: 100%;
  justify-content: center;
}

.category-link {
  font-size: large;
  font-weight: bold;

}

.category-link li {
  border-right: 1px solid #f42;
  height: 15px;
  padding: 0 10px;
}

.category-link li:last-child {
  border: none;
  padding-left: 10px;
}

.company-name {
  background: #f42;
  color: white;
  font-size: x-large;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.fund-quote {
  text-align: center;
  line-height: 20px;
  padding: 10px 0;
  height: 60px;
  background: rgba(255,68,34,.08);
}

.fund-tags {
  color: #555;
  height: 90px;
  background: #FEF9E7;
  line-height: 25px;
  font-size: 14px;
  padding: 20px 10px;
  font-size: 16px;
}

.fund-summary {
  font-size: 16px;
  height: 70px;
  background: #FEF9E7;
  padding: 15px 10px;
  line-height: 25px;
  border-top: 1px solid #f42;
}

.fund-summary a {
  color: #555;
}



/* Hard Fork Section */
.hf-apps-gear {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 10%;
}

.section-popular {
  background: url(../img/showcase-2.png) no-repeat center center/cover;
  height: 300px;
}

.mostpopular {
  padding-top: 200px;
  font-size: 12px;
  text-transform: uppercase;
}

.popular-header li {
  display: inline;
}

.popular-link {
  font-size: 18px;
  font-weight: bold;
}

.byline-text {
  font-size: small;
}

.byline-text li a,
.byline-text li time {
  color: hsla(0,0%,100%,.6);
}

.hf-link {
  color: #f42;
  font-size: xx-large;
  font-weight: bolder;
}

.popular-header {
  padding: 0 10px;
}