:root {
  --white-color: #fff;
  --primary-text-color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  line-height: 2px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.full-height {
  height: 100%;
}

.py-2 {
  padding: 10px;
}

.grid {
  display: grid;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gap {
  gap: 10px;
}

.column-flex {
  flex-direction: column;
}

.top-nav {
  grid-template-columns: 3fr 2fr;
  background: #000000;
  height: 30px;
  padding: 0 20px;
}

.top-nav a {
  color: rgba(255, 255, 255, 0.6);
}

.top-nav a:hover {
  color: var(--white-color);
}

.top-nav-left {
  justify-content: space-between;
  width: 60%;
}

.top-nav-right {
  justify-content: space-between;
  justify-self: flex-end;
  width: 50%;
}

.bottom-nav {
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
}

.bottom-nav a {
  color: var(--primary-text-color);
}

.bottom-nav-left {
  justify-content: space-between;
  width: 50%;
}

.fa-search {
  border-left: 1px solid #ccc;
  padding: 20px 0 0 10px;
  color: #808080;
  margin-right: 20px;
}

/* Showcase Section */
.showcase {
  grid-template-columns: 2fr 1fr;
  height: 500px;
  padding: 0 10px;
  margin-bottom: 100px;
}

.showcase-1 {
  background: url(../img/showcase-1.png) no-repeat center center/cover;
  opacity: 0.8;
}

.showcase-2 {
  height: 250px;
  background: url(../img/showcase-2.png) no-repeat center center/cover;
}

.showcase-3 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.showcase img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.top-text {
  justify-content: space-between;
}

.showcase-1 a {
  margin-top: 240px;
  z-index: 1;
  color: var(--white-color);
}

.showcase-2 a,
.showcase-3 a {
  color: var(--white-color);
}

.showcase-1 a h3 {
  font-size: 50px;
}

.bold {
  font-weight: bold;
}

.showcase-2 h3,
.showcase-3 h3 {
  font-size: 25px;
}

.showcase-2 h5,
.showcase-3 h5 {
  margin-top: 150px;
}

.margin-right {
  margin-right: 8px;
}

.margin-left {
  margin-left: 8px;
}

.author-time-share {
  width: 450px;
  justify-content: flex-start;
}

/* Latest News */
.latest-news,
.latest-deals {
  grid-template-areas:
  'category-header . . .'
  'card-1 card-2 card-3 card-4'
  'card-5 card-6 card-7 card-8';
  padding: 0 10%;
  gap: 20px;
}

.latest-news img,
.latest-deals img {
  width: 100%;
  margin-bottom: 10px;
}

.latest-news p,
.latest-deals p {
  color: var(--primary-text-color);
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

.latest-news h2,
.latest-deals h2 {
  color: #000;
  font-size: 18px;
}

.category-header {
  grid-area: category-header;
  font-size: x-large;
  font-weight: bolder;
}

.sec-color {
  color: #f42;
}

.category-header img {
  width: 20px;
  height: 20px;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-6 {
  grid-area: card-6;
}

.card-7 {
  grid-area: card-7;
}

.card-8 {
  grid-area: card-8;
}

/* Funding Section */
.funding-section {
  padding: 0 10%;
  color: #000;
  margin: 70px 0;
  position: relative;
}

.funding-header-section {
  justify-content: space-between;
  padding: 20px 0;
}

.card-logo img {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  margin-top: -40px;
}

.fa-chevron-right {
  font-size: 16px;
}

.funding-header-section a:hover {
  color: #000;
}

.fund-header {
  font-size: x-large;
}

.funding-cards {
  gap: 20px;
}

.fund-card {
  width: 100%;
}

.category-link a {
  font-size: large;
  color: #f42;
}

.category-link li {
  border-right: 1px solid #f42;
  height: 15px;
  padding: 0 10px;
}

.category-link li:last-child {
  border: none;
  padding-left: 10px;
}

.company-name {
  background: #f42;
  color: var(--white-color);
  font-size: large;
  text-align: center;
}

.fund-quote {
  text-align: center;
  line-height: 20px;
  padding: 10px 0;
  height: 60px;
  background: rgba(255,68,34,.08);
}

.fund-tags {
  color: var(--primary-text-color);
  height: 90px;
  background: #FEF9E7;
  line-height: 25px;
  padding: 20px 10px;
  font-size: 16px;
}

.fund-summary {
  font-size: 16px;
  height: 70px;
  background: #FEF9E7;
  padding: 15px 10px;
  line-height: 25px;
  border-top: 1px solid #f42;
}

.fund-summary a {
  color: var(--primary-text-color);
}

/* Categories Section */
.categories-section {
  grid-gap: 20px;
  padding: 0 10%;
}

.section-popular {
  background: url(../img/crypto.jpg) no-repeat center center/cover;
  height: 300px;
  margin-top: 20px;
  opacity: 0.7;
  color: #fff;
}

.mostpopular {
  padding-top: 100px;
  font-size: 12px;
  text-transform: uppercase;
}

.popular-header {
  z-index: 1;
}

.popular-header li {
  display: inline;
}

.popular-link {
  font-size: 22px;
  color: #fff;
}

.byline-text {
  font-size: 12px;
}

.byline-text li a,
.byline-text li time {
  color: hsla(0,0%,100%,.6);
}

.hf-link {
  font-size: x-large;
}

.popular-header {
  padding: 0 10px;
}

.cat-latest {
  background: #FEF9E7;
  height: 90px;
  justify-content: space-between;
  color: #f42;
}

.cat-latest img {
  width: 90px;
  height: 80px;
}

.cat-latest-text h4,
.cat-latest-text h5 {
  font-weight: bolder;
}

.cat-latest-list ul{
  background: #fff;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.cat-latest-list ul li{
  padding: 8px 0 8px 15px;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.cat-latest-list ul li::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer-section */
.top-footer {
  background: #131313;
  padding: 20px;
  margin-top: 100px;
  height: 150px;
  line-height: 50px;
  color: var(--white-color);
}

.social-icons {
  justify-content: space-between;
  width: 400px;
  font-size: 25px;
}

.social-icons i {
  border: none;
  background: #333;
  border-radius: 50%;
}

.social-icons i:hover {
  border: 3px solid #333;
  background: #000;
}

.footer-links {
  width: 300px;
  justify-content: space-between;
  font-size: 12px;
  color: #aaa;
}

.footer-links li:hover {
  color: var(--white-color);
}

.bottom-footer {
  background: #000;
  height: 100px;
}

.bottom-footer p {
  color: #aaa;
  padding: 0 5px;
}

.footer-img-1 {
  width: 40px;
  height: 50px;
}

.footer-img-2 {
  width: 60px;
  height: 60px;
}

/* Media Query */
@media screen and (max-width: 1024px) {
.top-nav {
  font-size: 12px;
  width: 100%;

}

.top-nav-left {
  width: 80%;
}

.top-nav-right {
  width: 55%;
}

.bottom-nav-left {
  width: 60%;
  font-size: 12px;
}

.showcase {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'showcase-1 showcase-1 showcase-1 showcase-2'
  'showcase-1 showcase-1 showcase-1 showcase-3';

}

.showcase-1 {
  grid-area: showcase-1;
  height: 500px;
  width: 690px;
}

.showcase-2 {
  grid-area: showcase-2;
}

.showcase-3 {
  grid-area: showcase-3;
}

.showcase-1 a {
  margin-top: 250px;
}

.showcase-2,
.showcase-3 {
  height: 245px;
  width: 300px;
}

.showcase-2 h5,
.showcase-3 h5 {
  margin-top: 120px;
}

/* Latest News Section */
.latest-news,
.latest-deals {
  grid-template-areas:
    'category-header . .'
    'card-1 card-2 card-3'
    'card-4 card-5 card-6'
    'card-7 card-8 .';
  padding: 0 4%;
  gap: 20px;
}

.latest-news h2,
.latest-deals h2 {
  font-size: 16px;
}

.latest-news p,
.latest-deals p {
  font-size: 10.5px;
}

/* Funding Section */
/* Funding Section */
.funding-header-section {
  padding: 0;
}

.funding-section {
  padding: 0 4%;
  margin: 40px 0;
}

.funding-cards {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 300px;
  width: 100%;
}

.funding-cards {
  width: 100%  ;
  height: 20px;
}

.fund-header {
  margin-bottom: 20px;
}

.fund-card:last-child {
  display: none;
}

/* Categories Section */
.categories-section {
  padding: 0 4%;
}

.section-popular {
  height: 200px;
}

.mostpopular {
  padding-top: 140px;
}
}

@media screen and (max-width: 768px) {
/* Navigation Section */
.top-nav {
  grid-template-columns: 2fr 1fr;
  font-size: 10px;
  padding: 0 20px 0 10px;
}

.top-nav-right {
  justify-self: end;
  width: 60%;
}

.top-nav-left {
  width: 70%;
}

.bottom-nav {
  height: 40px;
}

.bottom-nav-left {
  font-size: 10px;
  width: 55%;
}

.fa-search {
  padding: 10px 0 0 10px;
}

/* Showcase Section */
.showcase {
  height: 300px;
  margin-bottom: 70px;
  grid-template-columns: repeat(3, 1fr);
}

.showcase-1 {
  grid-column: 1 /span 2;
  height: 330px;
  width: 100%;
}

.showcase-1 a {
  margin-top: 150px;
  line-height: 30px;
}

.showcase-1 h5 {
  margin-top: 0;
}

.showcase-1 span p {
  color: #fff;
}

.showcase-1 a h3 {
  font-size: 25px;
}

.showcase-2 a h3,
.showcase-3 a h3 {
  font-size: 14px;
  line-height: 1.3em;
}

.showcase-3 h5 {
  margin-top: 50px;
}

.showcase-2 h5 {
  margin-top: 70px;
}

.showcase-2,
.showcase-3 {
  height: 160px;
  width: 100%;
}

.author-time-share {
  width: 100%;
  font-size: 10px;
}

/* Latest News Section */
.latest-news,
.latest-deals {
  grid-template-areas:
    'category-header . .'
    'card-1 card-2 card-3'
    'card-4 card-5 card-6'
    'card-7 card-8 .';
  padding: 0 4%;
  gap: 20px;
}

.latest-news h2,
.latest-deals h2 {
  font-size: 16px;
}

.latest-news p,
.latest-deals p {
  font-size: 10.5px;
}

/* Funding Section */
.funding-header-section {
  padding: 0;
}

.funding-section {
  padding: 0 4%;
  margin: 40px 0;
}

.funding-cards {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 300px;
  width: 100%;
}

.funding-cards {
  width: 100%  ;
  height: 20px;
}

.fund-header {
  margin-bottom: 20px;
}

.update, .more, .info {
  display: none;
}

.fund-card:last-child {
  display: none;
}

/* HardFork Apps Gear Section */
.categories-section {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4%;
}

.section-popular {
  height: 200px;
}
}
