* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 100%;
  max-width: 1440px;
  color: white;
  line-height: 2px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

header {
  width: 100%;
}

.py-2 {
  padding: 10px;
}

.grid {
  display: grid;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.top-nav {
  grid-template-columns: 3fr 2fr;
  align-items: center;
  background: #000000;
  height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-nav a {
  color: hsla(0,0%,100%,.6);
}

.top-nav a:hover {
  color: white;
}

.top-nav-left {
  justify-content: space-between;
  width: 60%;
}

.top-nav-right {
  justify-content: space-between;
  justify-self: flex-end;
  width: 40%;
  margin-right: 60px;
}

.bottom-nav {
  grid-template-columns: repeat(12, 1fr) ;
  align-items: center;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.bottom-nav a {
  color: #555;
}

.bottom-nav-left {
  justify-content: space-between;
  width: 60%;
  grid-column: 1 / span 11;
}

.bottom-nav-right {
  align-self: end;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}

.fa-search {
  border-left: 1px solid #ccc;
  height: 100%;
  padding-left: 40px;
  padding-top: 20px;
  color: #808080;
}

/* Showcase Section */
.showcase {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  height: 500px;
  padding: 0 10px;
  margin-bottom: 100px;
}

.right-showcase {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showcase-1 {
  background: url(../img/showcase-1.png) no-repeat center center/cover;
  flex-direction: column;
  opacity: 0.9;
}

.showcase-2 {
  flex-direction: column;
  height: 250px;
  background: url(../img/showcase-2.png) no-repeat center center/cover;
}

.showcase-3 {
  flex-direction: column;
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.showcase img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.top-text {
  justify-content: space-between;
}

.showcase-1 a {
  margin-top: 200px;
  z-index: 1;
}

body h5,
body h3 {
  margin: 10px 0;
}

.showcase-1 a h3 {
  font-size: 50px;
  font-weight: bolder;
}

.showcase-2 h3,
.showcase-3 h3 {
  font-size: 25px;
  font-weight: bold;
}

.showcase-2 h5,
.showcase-3 h5 {
  margin-top: 110px;
}

.margin-right {
  margin-right: 8px;
}

.margin-left {
  margin-left: 8px;
}

.author-time-share {
  width: 450px;
  justify-content: flex-start;
}

/* Latest News */
.latest-news-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.latest-news {
  border: 1px solid black;
  padding: 1rem;
  height: 4rem;
}

.latest-news h2 {
  margin-bottom: 50px;
  color: tomato;
}

 .img1 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img2 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img3 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img4 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img5 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img6 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img7 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}

.img8 {
  height: 250px;
  background: url(../img/showcase-3.jpg) no-repeat center center/cover;
}